body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

strong {
    font-family: 'Poppins', sans-serif;
}

input,
button {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}
